---
import IconArrowRight from '~icons/ph/arrow-right-bold'
import SectionHeader from './section-header.astro'

const services = [
	{ title: 'Terraplenagem', span: 'md:col-span-2 md:row-span-1', img: 'service-01.webp' },
	{ title: 'Saneamento Básico', span: 'md:col-span-1 md:row-span-1', img: 'service-03.webp' },
	{ title: 'Obras de Drenagem', span: 'md:col-span-1 md:row-span-1', img: 'service-04.webp' },
	{ title: 'Construção Civil', span: 'md:col-span-1 md:row-span-1', img: 'service-05.webp' },
	{ title: 'Locação de Equipamentos', span: 'md:col-span-1 md:row-span-1', img: 'service-06.webp' },
	{ title: 'Pavimentação', span: 'md:col-span-2 md:row-span-1', img: 'service-02.webp' },
	{ title: 'Demolições', span: 'md:col-span-1 md:row-span-1', img: 'service-05.webp' },
	{ title: 'Reciclagem', span: 'md:col-span-1 md:row-span-1', img: 'service-06.webp' },
]

function slugify(text: string) {
	return text.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace(/ /g, '-')
}
---

<section id="servicos" class="py-24">
	<div class="section-container">
		<SectionHeader
			title="Nossos Serviços"
			description="Atendemos a demanda do Vale do Paraíba e Litoral Norte com infraestrutura de alta performance."
			cta={{ href: '/obras', label: 'Ver Obras' }}
			className="mb-4 lg:mb-8"
		/>
	</div>

	<div class="px-4 lg:px-8">
		<div class="grid grid-cols-1 md:grid-cols-4 gap-4 auto-rows-[300px] md:auto-rows-[380px]">
			{services.map(service => (
				<a href={`/servicos/${slugify(service.title)}`} class={`group relative overflow-hidden rounded-2xl block bg-brand-primary ${service.span}`}>
					<img
						src={`/images/services/${service.img}`}
						alt={service.title}
						class="absolute inset-0 w-full h-full object-cover transition duration-700 group-hover:scale-105 opacity-80 group-hover:opacity-100"
						width={600}
						height={600}
					/>
					<div class="absolute inset-0 bg-linear-to-t from-brand-dark/90 via-brand-dark/20 to-transparent"></div>
					<div class="absolute bottom-6 left-6 right-6 flex justify-between items-end">
						<h3 class="text-2xl md:text-3xl font-display font-bold text-white max-w-[80%]">{service.title}</h3>
						<div class="w-12 h-12 rounded-full bg-brand-accent text-brand-secondary flex items-center justify-center md:translate-y-4 md:opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition duration-300 shrink-0">
							<IconArrowRight class="w-6 h-6" />
						</div>
					</div>
				</a>
			))}
		</div>
	</div>
</section>
